{
  "env": {
    "jest": true,
    "node": true,
    "browser": false
  },
  "extends": ["airbnb-base"],
  "plugins": ["@typescript-eslint", "prettier"],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "sourceType": "module"
  },
  "settings": {
    "import/resolver": {
      "node": {},
      "webpack": {
        "config": "./webpack/webpack.config.base.js"
      }
    }
  },
  "rules": {
    "@typescript-eslint/adjacent-overload-signatures": "error",
    "yoda": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "error",
    "no-dupe-class-members": "off",
    "no-console": "off",
    "arrow-body-style": "off",
    "import/order": ["error", {
      "groups": ["builtin", "external", "internal", "parent", "sibling", "index"],
      "newlines-between": "ignore",
      "alphabetize": {
        "order": "asc",
        "caseInsensitive": true
      }
    }],
    "import/max-dependencies": ["warn", {"max": 10}],
    "import/newline-after-import": ["error", { "count": 1 }],
    "import/extensions": [
      "error",
      "ignorePackages",
      {
        "js": "never",
        "jsx": "never",
        "ts": "never",
        "tsx": "never"
      }
    ]
  },
  "globals": {
    "fetch": false
  }
}
